$nav-pills-border-radius: 0;

// Default Bootstrap configuration
@import "~bootstrap/scss/bootstrap";

.row+.row {
  margin-top: 1rem;
}

.form-center{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-content: center;
  max-width: 400px;
}